<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.empregosal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/SemBarra">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/SemBarra" />
        <activity
            android:name=".activity.CadastroUsuarioActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.DadosUsuarioActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MainEmpresaActivity"
            android:theme="@style/SemBarra" />
        <activity
            android:name=".activity.CadastroEmpresaActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.DadosEmpresaActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.CurriculoActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ExperienciaActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.ExperienciaActivity" />
        </activity>
        <activity
            android:name=".activity.FormacaoActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.ExperienciaActivity" />
        </activity>
        <activity
            android:name=".activity.ObjetivosActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.ObjetivosActivity" />
        </activity>
        <activity
            android:name=".activity.IdiomasActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.IdiomasActivity" />
        </activity>
        <activity
            android:name=".activity.VagasCadastroActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.MainEmpresaActivity" />
        </activity>
        <activity
            android:name=".activity.DetalhesVagaActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.MainEmpresaActivity" />
        </activity>
        <activity
            android:name=".activity.DetalhesUsuarioActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.MainEmpresaActivity" />
        </activity>
        <activity
            android:name=".viacep.org.ceprest.BuscaCep"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.MainEmpresaActivity" />
        </activity>
        <activity
            android:name=".activity.PesquisaActivity"
            android:theme="@style/SemBarra2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SituacaoVagaActivity"
            android:theme="@style/SemBarra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.empregosal.activity.MainEmpresaActivity" />
        </activity>
        <activity
            android:name=".activity.ListaCandidatosActivity"
            android:theme="@style/SemBarra"/>
    </application>

</manifest>